@media screen and (max-width: 600px) {

    .max-width-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .home-navbar1 {
        display: none;
    }

    .home-cards-container {
        gap: 20px;   
    }

    .category-card-category-card {
        flex: 0 0 47%;
    }

    .category-card-category-card img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }


    .home-full-width-banner.section-container {
        flex-direction: column;
    }

    .home-content {
        margin-bottom: 20px;
    }

    .home-text30 {
        width: 100%;
    }

    .home-left4 {
        padding: 2em 1em;
    }

    .home-image6 {
        width: 100%;
    }


    .home-container08 {
        align-items: stretch;
    }

    .blog-post-card-blog-post-card {
        max-width: initial;
    }


    .home-main {
        padding-bottom: 42px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        padding-top: 4em;
        padding-bottom: 0;
    }

    .home-container09 {
        padding-top: 2em;
    }

    .home-links-container {
        flex-direction: column;
    }


    .home-container06.max-width-container {
        padding-left: 12px;
        padding-right: 12px;
    }
    
}